<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="Sentry.NLog" />
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file. Update filename to match your app name.  -->
		<target name="logfile" xsi:type="File"
		        layout="${longdate} | ${logger} | ${callsite} -> ${message} -> ${exception}"
		        filename="C:\ProgramData\Org\Test\logs\${shortdate}.log"
		        maxArchiveFiles="8"/>
		<target xsi:type="ColoredConsole" name="console" />
		<targets>
			<!-- The Sentry target sends logged exceptions to Sentry. Add new project on Sentry and update the DSN -->
			<target xsi:type="Sentry" name="sentry"
			        dsn="http://"
			        layout="${logger} | ${callsite} -> ${message}"
			        environment="Production"
			        breadcrumbLayout="${message}"
			        minimumBreadcrumbLevel="Debug"
			        minimumEventLevel="Info">

				<!-- Advanced options can be configured here-->
				<options
					sendDefaultPii="true"
					attachStacktrace="false"
					shutdownTimeoutSeconds="5"
					debug="false"
				>
					<!--Advanced options can be specified as attributes or elements-->
					<includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>
				</options>

				<!--Optionally add any desired additional Tags that will be sent with every message -->
				<tag name="exception" layout="${exception:format=shorttype}" includeEmptyValue="false" />

				<!--Optionally add any desired additional Data that will be sent with every message -->
				<contextproperty name="threadid" layout="${threadid}" includeEmptyValue="true" />
			</target>
		</targets>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" writeTo="sentry" />
		<logger name="*" minlevel="Error" writeTo="console" />
	</rules>
</nlog>
